<app-navbar></app-navbar>
<main class="container mt-5 mb-5">
    <div class="row productBox">
        <div class="col-lg-4 col-12 mt-5">
            <img src="{{this.getProductDetails.img}}">

        </div>
        <div class="col-lg-8 col-12 mt-5">
            <h4>{{this.getProductDetails.category | titlecase}}</h4>
            <p class="mt-2">
                Rs {{this.getProductDetails.price}}</p>
            <button class="btn btn-dark btn-sm" (click)="addCart(getProductDetails)"> ADD TO CART <i
                    class="bi bi-bag"></i></button>
            <div>
                <a *ngIf="inCart" class="btn btn-dark btn-sm" routerLink="/cart"> Go To Cart <i class="bi bi-bag"></i></a>
            </div>
        </div>
    </div>

</main>